# =========================
# Build
# =========================
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Object Files
# =========================
*.o
*.obj

# Libraries
*.a
*.so
*.dll
*.lib

# Executables
*.exe
*.out

# Logs
*.log

# Temp
*.tmp
*.temp
*.swp
*.swo
*~

# OS Files
.DS_Store
.directory
Thumbs.db